#main{
  background-image: url("../images/icecream.jpeg");
  background-position: center;
  background-size: cover;
  @include mq($md){
    background-image: url("../images/icecream-large.jpeg");
    
  }
}